.github
.vscode/**
.vscode-test/**
test/**
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
screencast.gif
test-resources/**
out/**
sponsorkit/**
sponsor.config.ts
src/**
tsconfig.json
yarn.lock
*.vsix
