.github
.vscode/**
.vscode-test/**
test/**
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
screencast.gif
test-resources/**
out/**
sponsorkit/**
sponsor.config.ts
src/**
tsconfig.json
yarn.lock
*.vsix
node_modules/linguist-languages/data/FreeBasic.mjs
node_modules/linguist-languages/data/FreeBASIC.mjs
node_modules/linguist-languages/data/FreeBasic.js
node_modules/linguist-languages/data/FreeBASIC.js
node_modules/linguist-languages/data/FreeBasic.d.ts
node_modules/linguist-languages/data/FreeBASIC.d.ts
node_modules/linguist-languages/data/FreeBasic.d.mts
node_modules/linguist-languages/data/FreeBASIC.d.mts
