name: CI
on: [push]
jobs:
  test:
    name: CI
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        vscode_version: ["1.59.0", "1.58.0"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: Install dependencies
        run: npm install
      - name: run npm list
        run: npm list --production --parseable --depth=99999 --loglevel=error
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: npm run test
        env:
          VSCODE_VERSION: ${{ matrix.vscode_version }}
